    <h2>Quiz: Es como saber y ganar, pero en light</h2>
    <form method="get" action="/quizes/answer">
		<fieldset>
			<legend>Pregunta: <%= pregunta %></legend>
			<input type="text" name="respuesta" placeholder="Responde aquí"/>
			<input type="submit" value="Enviar"/>
		</fieldset>
	</form>
